

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title<b> rich_red</b> "><%=link_to 'Click Here To Generate A New Superhero', root_path %></h3>
  </div>
  <div class="panel-body">
    <div class = "row">
      <br/>
      <div class = "col-md-4">
        <img src="<%= @avatar %>">
        <br/><br/>
      </div>
      
      <div class ="col-md-4">
    <h3>Your Super Hero Name:<br/>
    <b><span class="blue"><%= @hero_name %></span></b>
    </h3>
    
     <h3>Your Super Hero Power Is:<br/>
    <b><span class ="red"><%= @hero_power %></span></b>
     </h3></br>
     
     <h4>Your Undercover Day Job is:</br>
     <span class ="corp_red"><%= @corp_title %></span>
     </h4>
     
     <h4>Your Corporate Superpower is: </br>
     <span class ="corp_red"><%= @corp_power %></span>
     </h4>
     
     
     <h4>Your Fueled by:</br>
     <span class ="corp_red"><%=@super_food %>
     </h4>
     </div>
     
       
     
     
     
     <div class ="col-md-4">
     
     </div>
     
     

     
     </div>
  </div>


      

  <div class="panel-footer"><%=link_to 'Create A Whole Super Hero Team', home_team_path %>
</div>
